{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@shared",
    "^@shared/(.*)$",
    "^@landing-page",
    "^@landing-page/(.*)$",
    "^@admin",
    "^@admin/(.*)$",
    "^@students",
    "^@students/(.*)$",
    "^@server/(.*)$",
    "^@config",
    "^@config/(.*)$",
    "([.]svg|[.]jpg|[.]jpeg|[.]gif|[.]png)$",
    "^[./]",
    "^[./](?!.*([.]css|[.]scss))",
    "([.]css|[.]scss)$"
  ],
  "printWidth": 70,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
